.app {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid #444;
    width: 60%;
    position: absolute; 
    top: 30%;
    left: 20%;
}

.title {
    margin: 20px 10px;
}

.times {
    font-size: 25px;
    color: #444;
}

.times div {
    display: inline;
    margin: 20px 10px;
}

.input {
    width: 70%;
    height: 25px;
    font-size: 18px;
    margin: 20px 10px;
}

.submit {
    font-size: 15px;
    padding: 4px;
    border: solid #444;
    margin: 20px 10px;
}

.submit:hover {
    cursor: pointer;
    background: #444;
    color: yellow;
}

@media screen and (max-width: 940px) {
    .times div {
        display: block;
    }
}

